

.first-paragraph-div {

 position: relative;
 display: flex;
 margin-right: 10px;
 width: 100px;
 margin-left: auto;
 margin-top: 0px;
 margin-bottom: 15px;
 padding: auto;
 font-family: 'Times New Roman', Times, serif; 
}
 
  