

 
  
.container {
  position: relative;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 8px;
  margin-right: 18px;
  
  
}


.imagen {
 display: flex

;
  


}

.text {
  width: 100%;
  margin: auto;
  padding: auto;
  text-align: center;
  
}